.colorNav{
    background-color: $background-color;
    height: 25%;
    .nav-item{
        font-size: 1.4rem;
        .navbar-light .navbar-nav .nav-link.colorinicio{
            font-size: 1.4rem;
            color:rgb(14, 13, 13)
        }    
        .navbar-light .navbar-nav .nav-link.colorbot{
            color:rgb(98, 102, 102)
        }
    }
} 

@media screen and (max-width: 768px) {
    .nav-link{
        flex-direction: column;
    }
}