$tipografia-general: 'Ysabeau Infant', sans-serif; 
$background-color: rgb(141, 140, 140);

$fuentes:(
    color:azure, 
    thin:100,
    light:300,
    regular:400,
    medium:500,
    bold:700,
    black:900
); 