/*
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,1000&display=swap');*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


.colorNav{
    background-color: rgb(141, 140, 140);
}
.nav-item{
    font-size: 1.4rem;
}
.navbar-light .navbar-nav .nav-link.colorinicio{
    font-size: 1.4rem;
    color:rgb(14, 13, 13)
}    
.navbar-light .navbar-nav .nav-link.colorbot{
    color:rgb(98, 102, 102)
}

.carousel{
    width: 100%;
}

.carousel-item{
    height: 100vh;
    width: 100%;
}
.carousel-item .imgadap{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card{
    width: 50rem;
    
}
body{
    font-family: 'Ysabeau Infant', sans-serif;
}
body{
    height: 100vh;
}
.eslogan{
    width: 100%;
    height: 100%;
}
.card{
    width: 20rem;
    margin-bottom: 1rem;
}


main{
    background-color: rgb(247, 81, 81);
}


.footer{
    height: 25%;
    background-color: rgb(196, 191, 191);
}

@media screen and (max-width: 768px) {
    .nav-link{
        flex-direction: column;
    }

.nav-link-i{
    font-size: 0,7rem;
}
    
}

.imgbolsa{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    
}
.bol{
    width: 600px;
}
.comprar{
    font-size: 1.5rem;
}
.imgindex{
    display: flex;
    justify-content: center;
    margin-top: 2 rem;
    margin-bottom: 2rem;
}
.imgix{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
}
.imgix{
    width: 500px;
    height: 800px;
}
.nosotros{
    display: flex;
    justify-content: center;
    margin-top: 5 rem;
    margin-bottom: 2rem;
}
.foto-nosotros{
    width: 100%;
}
.parrafo-nosotros{
    width: 90%;
}

